{% extends 'base.html' %} {% block content %}

<h1>Plant Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ plant.name }}</span>
        <p>Scientific Name: {{ plant.sciname }}</p>
        <p>Description: {{ plant.description }}</p>
        <p>Location: {{ plant.location }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'plants_update' plant.id %}">Edit</a>
        <a href="{% url 'plants_delete' plant.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_bloom' plant.id %}" method="post">
        {% csrf_token %} {{ bloom_form.as_p }}
        <input type="submit" class="btn" value="Add Bloom" />
      </form>
      <br />
    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Bloom</th>
        </tr>
      </thead>
      <tbody>
        {% for bloom in plant.bloom_set.all %}
        <tr>
          <td>{{bloom.date}}</td>
          <td>{{bloom.get_bloom_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr />
<div class="row">
  <div class="col s6">
    <h3>{{ plant.name }}'s Growing Conditions</h3>
    {% if plant.conditions.count %} {% for condition in plant.conditions.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          <span>{{ condition.moisture }}</span>
          {{ condition.sun }}
        </span>
      </div>
      <div class="card-action">
        <form action="{% url 'assoc_condition_delete' plant.id condition.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn">Remove</button>
        </form>
      </div>
    </div>
    {% endfor %} {% else %}
    <h5>No Growing Conditions :(</h5>
    {% endif %}
  </div>
  <div class="col s6">
    <h3>Possible Growing Conditions</h3>
    {% if conditions.count %} {% for condition in conditions.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          <span>{{ condition.moisture }}</span> Soil
          <br />
          {{ condition.sun }}
        </span>
      </div>
      <div class="card-action">
        <form action="{% url 'assoc_condition' plant.id condition.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn">Add</button>
        </form>
      </div>
    </div>
    {% endfor %} {% else %}
    <h5>{{plant.name}} Already Has Growing Conditions</h5>
    {% endif %}
  </div>
<script>
  var dateEl = document.getElementById("id_date");
  M.Datepicker.init(dateEl, {
    format: "yyyy-mm-dd",
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true,
  });
  var selectEl = document.getElementById('id_bloom');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}
